:root {
--outer-space: #33393f;
--skyblue: skyblue;
--lightgreen: #93d193;
--offwhite: #fffafa; 
}

* {
    font-family: Verdana, "Trebuchet MS", Tahoma;
    scroll-margin-right: 0px;
}

html {
    font-size: 16px;
}

a:visited {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    z-index: 90;
}

a {
    text-decoration: none;
}
body {
    background-image: url(https://www.shell.com/energy-and-innovation/the-energy-future/scenarios/shell-scenario-sky/_jcr_content/pagePromo/image.img.960.jpeg/1548184031017/clear-blue-sky.jpeg);
    z-index: -10;
}

.heading {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-image: linear-gradient(
        #2f4353 0%, #d2ccc4 74%
    );
    z-index: 15;
    justify-content: space-between;
    
}

.label {
    font-size: 2.5rem;
}

.heading .Head-Title {
    font-size: 4rem;
    padding: 10px;
}

.heading .navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: baseline;
}

#abt {
    border-color: black;
    padding: 20px;

}

#wrk {
    padding: 20px;
}

#con {
    padding: 20px;
}

#res {
    padding: 20px;
}

.about {
    color: var(--skyblue);
}

p {
    color:var(--lightgreen);
    margin: 10px 300px 20px 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.project1 {
    background-image: url(https://media.cntraveler.com/photos/5eb18e42fc043ed5d9779733/16:9/w_2580,c_limit/BlackForest-Germany-GettyImages-147180370.jpg);
    width: 1000px;
    height: 300px;
    font-size: 2rem;
    text-decoration: none;
    color: forestgreen;
    outline-color: black;
    outline: 3px;
    justify-content: left;
    backdrop-filter: var(--offwhite);
    outline: white;
    outline-style: solid;
    outline-width: 1px;
    margin: 15px 0px 0px 20px;
}

.horiseon {
    margin: 0 auto;
    display: inline;
    mix-blend-mode: multiply;
    padding: 10px;
}
.projects2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    width: 1000px;
    justify-content: space-between;
    margin: 10px 0px 20px 20px
}


.projects2 #css {
    background-image: url(https://media.istockphoto.com/photos/colorful-hot-air-balloon-flying-above-the-clouds-picture-id1282443951?b=1&k=20&m=1282443951&s=170667a&w=0&h=OkjWgjLFyh3zbsA5oT-s0Lgp9nOAuhhE2nxpJTkhccM=);
    width: 495px;
    height: 150px; 
    outline: white;
    outline-style: solid;
    outline-width: 1px;
    margin-top: 10px;
    padding: 10px;
}

.projects2 #jvs {
    background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    width: 495px;
    height: 150px;
    outline: white;
    outline-style: solid;
    outline-width: 1px;
    margin-top: 10px;
    padding: 10px;
}

.projects2 #react {
    background-color: green;
    width: 495px;
    height: 150px;
    outline: white;
    outline-style: solid;
    outline-width: 1px;
    margin-top: 10px;
    padding: 10px;
}

.projects2 #p5 {
    background-color: green;
    width: 495px;
    height: 150px;
    outline: white;
    outline-style: solid;
    outline-width: 1px;
    margin-top: 10px;
    padding: 10px;
}
